@charset "UTF-8";

  @import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

  :root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;

  }

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}
header{
    background-color: black;
    color:white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 4em;
}
header > p {
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgb(29, 26, 26);
    color: white;
}
section.imagem > p{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.13);
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}
